<% content_for :title, "Editing note" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-5">Editing note for Meeting #<%= @meeting.id %></h1>

  <%= render "form", note: @note, meeting: @meeting %>

  <%= link_to "Back to meeting", @meeting, class: "mt-4 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
