<% content_for :title, "Editing meeting" %>

<div class="max-w-2xl">
  <h1 class="text-4xl font-bold mb-6">Editing meeting</h1>

  <%= render "form", meeting: @meeting %>

  <div class="flex gap-2 mt-4">
    <%= link_to "Show this meeting", @meeting, class: "btn btn-ghost" %>
    <%= link_to "Back to meetings", meetings_path, class: "btn btn-ghost" %>
  </div>
</div>
