<div id="<%= dom_id meeting_participant %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Meeting:</strong>
    <%= meeting_participant.meeting_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Account:</strong>
    <%= meeting_participant.account_id %>
  </div>
</div>
