<div id="<%= dom_id action_item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Meeting:</strong>
    <%= action_item.meeting_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Account:</strong>
    <%= action_item.account_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= action_item.title %>
  </div>
</div>
