<% content_for :title, "Showing memo" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing memo</h1>

  <%= render @memo %>

lement
   <div class="element"></div>

<script type="module">

    // import { Editor } from '@tiptap/core'
    //   import StarterKit from '@tiptap/starter-kit'
     import { Editor } from 'https://esm.sh/@tiptap/core'
      import StarterKit from 'https://esm.sh/@tiptap/starter-kit'
      const editor = new Editor({
        element: document.querySelector('.element'),
        extensions: [StarterKit],
        content: '<p>Hello World!</p>',
      })
  </script>


  <%= link_to "Edit this memo", edit_memo_path(@memo), class: "btn btn-ghost btn-sm" %>
  <%= button_to "Destroy this memo", @memo, method: :delete, class: "btn btn-sm btn-error", data: { turbo_confirm: "Are you sure?" } %>
</div>
