<% content_for :title, "Showing memo" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <div class="toast toast-top toast-end">
      <p class="alert alert-success" id="notice"><%= notice %></p>
    </div>
  <% end %>

  <h1 class="font-bold text-4xl">Showing memo</h1>


  <%= link_to "Edit this memo", edit_memo_path(@memo), class: "btn btn-ghost btn-sm" %>
</div>

